body {
    font-family: "Futura", sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
    cursor: none;
}

header {
    background-color: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

footer {
position: fixed;
display: flex;
justify-content: flex-end;
align-items: center;
bottom: 0;
right: 0;
margin: 20px;
padding: 10px;
background-color: none;
color: #000000;
}


.header-left h1 {
    font-weight: bold;
    margin: 0;
    font-size: 15px;
}

.header-right a {
    text-decoration: none;
    color: #000000; /* NERO */
    margin-left: 60px;
      font-size: 12px;
        filter: blur(2px);
        transition: filter 2s; /* effetto di transizione */
}

.header-right a:hover {
  filter: blur(0px); /* sfocato al passaggio del mouse */

}

.lingua-button
{
 cursor: none;
    display: inline-block;
    color: #000000;
    text-decoration: none;
    margin-bottom: 10px;
      font-size: 10px;
  transition: filter 2s; /* effetto di transizione */
  filter: blur(2px); /* sfocato al passaggio del mouse */
}

.lingua-button:hover
{
  filter: blur(0px); /* sfocato al passaggio del mouse */

}

.container {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: flex-start;
padding: 20px;
text-align: left;
box-sizing: border-box;
max-width: 100%;
}

       .left {
           flex: 1;
           padding-right: 20px;
       }


       .right {
         padding-right: 100px;
          max-width: 55%; /* Larghezza massima */
          box-sizing: border-box; /* Include il padding nel calcolo della larghezza */

          margin-right: 50px;

      }


      .centered-text {
                  position: absolute; /* Posizione assoluta rispetto al body */
                  top: 10%; /* Posizione sopra l'immagine */
                  left:56%; /* Posizione al centro */
                  transform: translateX(-50%); /* Centra orizzontalmente */
                  text-align: left; /* Allinea il testo al centro */
                  font-size: 96px; /* Dimensione del testo */
                  font-weight: bold; /* Grassetto */
                  filter: blur(4.5px);
                  color: #b0d12a;
                  z-index: -2;
              }

       .break {
           page-break-after: always; /* Interruzione di pagina */
       }

       /* Stili per il testo e l'immagine */
         img {
             max-width: 75%;
             height: auto;
             margin-left: 100px;
             padding-top: 40px;
             filter: blur(1px);
         }

         /* Stili per i titoli delle colonne */
         .column-title {
             font-weight: bold;
             vertical-align: top;
             font-size: 14px;
             filter: blur(1.5px);
         }

         .descrizione {
             font-weight: lighter;
             vertical-align: top;
             font-size: 16px;
             text-align: justify;
             margin-top: -220px;
             margin-left: -60px;
             padding-right: 130px;
         }

         .contatti {
             font-weight: bold;
             vertical-align: top;
             font-size: 20px;
             filter: blur(1.5px);
             text-align: left;
             margin-left: -70px;

         }
         .contatti2 {
             font-weight: lighter;
             vertical-align: top;
             font-size: 14px;
             text-align: left;
             margin-top: 10px;
margin-left: -70px;
         }

         .dove {
             font-weight: bold;
             vertical-align: top;
             font-size: 26px;
             filter: blur(2.5px);
             text-align: left;
             margin-left: 700px;
              padding-right: 10px;
         }


         /* Stili per le colonne */
         .column {
             width: 100%; /* Larghezza delle colonne */
             display: inline-block;
             vertical-align: top;
             flex: 1;
  padding: 10px;

  min-width: 200px;
  text-align: left;
             font-size: 12px;
             font-weight: lighter;
              line-height: 1.5; /* Interlinea personalizzata */
            display: inline-flex; /* Permette il centro dell'elemento */
 margin-left: 20px;

         }

         /* Stili per dividere le colonne verticalmente */
         .column > div {
             display: inline-block;
             width: 80%; /* Larghezza del 50% della colonna */
 margin-left: 20px;
               white-space: nowrap;
         }

         .half-black {
            color: black; /* Colore del testo nero */
        }

        .half-gray {
            color: #808080; /* Colore del testo grigio */
        }

        .text-below
        {
           color: #808080;
           font-size: 8px;
           font-weight: lighter;
           text-align: left;
       }






       #main-error {
                 display: none; /* Mostrato solo su schermi piccoli */
                 position: fixed;
                 top: 0;
                 left: 0;
                 width: 100%;
                 height: 100%;
                 background: rgba(0, 0, 0, 0.9);
                 z-index: 1000;
                 display: flex;
                 flex-direction: column;
                 justify-content: center;
                 align-items: center;
             }

             #main-error h1 {
                 font-size: 20px;
                 font-weight: bold;
                 color: #fff;
                 margin-bottom: 20px;
                 color: #b0d12a;
             }

             #error-windows-container {
                 position: relative;
                 width: 100%;
                 height: 100%;
                 z-index: 1001;
             }

             .error-window {
                 position: absolute;
                 background-color: #fff;
                 border: 1px solid #aaa;
                 display: flex;
                 flex-direction: column;
                 align-items: center;
                 justify-content: center;
                 text-align: center;
                 box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
             }

             /* Bordo superiore spesso */
             .error-window .header {
                 display: flex;
                 justify-content: space-between;
                 align-items: center;
                 background-color: #000000;
                 color: #fff;
                 padding: 5px;
                 font-size: 8px;
                 width: 100%;
                 box-sizing: border-box;
             }

             .error-window .header .controls {
                 display: flex;
                 gap: 3px;
             }

             .error-window .header .controls button {
                 width: 6px;
                 height: 6px;
                 border: none;
                 border-radius: 50%;
                 cursor: pointer;
             }

             .error-window .header .controls .close {
                 background-color: #000000;
             }

             .error-window .header .controls .minimize {
                 background-color: #000000;
             }

             .error-window .header .controls .resize {
                 background-color: #000000;
             }

             /* Contenuto della finestra */
             .error-window .content {
                 display: flex;
                 flex-direction: column;
                 align-items: center;
                 justify-content: center;
                 padding: 10px;
                 flex-grow: 1;
             }

             .error-window .content h1 {
                 color: #0f0;
                 font-size: calc(1.5rem + 0.5vw);
                 margin: 0;
             }

             .error-window .content p {
                 color: #666;
                 font-size: calc(0.8rem + 0.2vw);
                 margin: 0;
             }





#custom-cursor {
width: 8px;
height: 8px;
background: black;
border-radius: 100%;
position: absolute;
z-index: 9999;
pointer-events: none;
}

#cursor-shadow {
    width: 8px;
    height: 8px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 100%;
    position: absolute;
    z-index: 9998;
    pointer-events: none;
    transform: translate(-50%, -50%);
    display: none;
}
